.store-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cameras-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin-left: 40px;
}
.card-container{
    background-color:  #F8F8FF;
    padding-left: 20px;
}
@media only screen and (max-width: 600px){
    .store-container{
        grid-template-columns: none;
    }
    .cameras-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 28px;
    }
}