*{
  font-family: 'Loto';
  font-style: normal;
  font-weight: 400;

}
.header{
  text-align: center;
  color: #D68910 ;
  font-family: 'Loto';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 25px;
}
.sub-header{
  text-align: center;
  font-family: 'Loto';
  font-size: 25px;
  line-height: 25px;
}
